h1{
	color:#0000FF;
	margin-bottom: 5%;
}

h2{
	color:#FF0000;
}

.textDescription {
	margin-bottom: 3px;
}

html, body {
	min-height: 100%;
	height: 100%;
	width: 100%;
	margin: auto;
	/* background-size: contain; */
	overflow-y: auto;
	overflow: auto;
	background-color: #ffffff;
}

.container {
	margin: 0 auto;
    min-height: 80%;
}

.loading {
	margin-left: 45%;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: auto;
}

/* DIALOG WINDOW */
.dialogdemoBasicUsage #popupContainer {
  position: relative; }

.dialogdemoBasicUsage .footer {
  width: 100%;
  text-align: center;
  margin-left: 20px; }

.dialogdemoBasicUsage .footer, .dialogdemoBasicUsage .footer > code {
  font-size: 0.8em;
  margin-top: 50px; }

.dialogdemoBasicUsage button {
  width: 200px; }

.dialogdemoBasicUsage div#status {
  color: #c60008; }

.md-toolbar-tools {
	background-color: #222222;
}
md-toolbar, h2 {
	color:#ffffff;
}

md-tab {color: #000000;}